<div class="row">

  <div>
  <!---  <input type="text" name="" id="" [(ngModel)]="textSimple">
    <p>
      {{textSimple}}
    </p>
-->  
</div>

  <div class="col-sm-6" *ngIf="(alunoSelecionado | json) != ({} | json)">
    <div class="row mt-1">
        <div class=" mr-auto">
          <app-titulo [titulo]="'Código aluno: ' + alunoSelecionado.id"></app-titulo> 
        </div>
        <div class="">   <button class="btn btn-outline-danger" (click)="voltar()">
            fechar
        </button></div>
    </div>
    <br>
    <form >
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nome</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" value="{{alunoSelecionado.nome}}"
        >
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput2" class="form-label">Sobrenome</label>
        <input type="text" class="form-control" id="exampleFormControlInput2" value="{{alunoSelecionado.sobrenome}}"
        >
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput3" class="form-label">Telefone</label>
        <input type="text" class="form-control" id="exampleFormControlInput3" value="{{alunoSelecionado.telefone}}"
        >
      </div>
      <div class="form-group">
        <button class="btn btn-success">
          Salvar
        </button>
      </div>
    </form>
</div>
<div [ngClass]="{'col-sm-12': (alunoSelecionado | json) == ({} | json), 'col-sm-6': (alunoSelecionado | json) != ({} | json)}"  >

    <div class=" mr-auto">
      <app-titulo [titulo]="titulo"></app-titulo>

    <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Telefone</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let aluno of alunos" (click)="alunoSelect(aluno)">
            <th scope="row">{{aluno.id}}</th>   
            <td>{{aluno.nome}}</td>
            <td>{{aluno.telefone}}</td>
          </tr>
          
        </tbody>
      </table>
</div>


</div>